@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #030303;
  --foreground: #ededed;
  --primary: #a855f7; /* Purple-500 */
  --secondary: #3b82f6; /* Blue-500 */
  --accent: #ec4899; /* Pink-500 */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

@layer utilities {
  .text-glow {
    text-shadow: 0 0 20px rgba(168, 85, 247, 0.5);
  }
  .bg-grid-pattern {
    background-size: 40px 40px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.05) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
  }
}
